 <!-- {% extends "template.html" %}
 {% block content %} -->

  <!--<script type="text/javascript" src="d3/d3.v2.js"></script>-->
  <html>
  <head>
  	<script src="http://d3js.org/d3.v2.js"></script>
	<script type="text/javascript" src="../static/js/dash_script.js"></script>
  	<link rel="stylesheet" type="text/css" href="../static/css/dash_style.css">
</head>
<body>
    <div id="pieChart"></div>
    <div id="barChart"></div>  
    <div id="lineChart"></div>
 </body>
 </html>
<!-- {% endblock content %} -->