{% extends "template.html" %}
{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename='js/application.js') }}"></script>
  
<div class="stage" id="stage">
  <div class="stage-shelf stage-shelf-right" id="sidebar">
      <ul class="nav nav-bordered nav-stacked flex-column">
        <li class="nav-header">Examples</li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('rooftop') }}">Rooftop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('references') }}">References</a>
        </li>
      </ul>
  </div>

	<div class="block block-inverse block-fill-height app-header"
    	 style="background-image: url({{ url_for('static', filename='images/rain-unsplash.jpg') }});">

  <div class="container py-4 fixed-top app-navbar">
  <nav class="navbar navbar-transparent navbar-padded navbar-toggleable-sm">
    <button
      class="navbar-toggler navbar-toggler-right hidden-md-up"
      type="button"
      data-target="#stage"
      data-toggle="stage"
      data-distance="-250">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand mr-auto" href="">
      <strong style= "background-color: "white"; padding: 12px; border-radius: 4px; color: #28669F;">SIH 2019</strong>
    </a>

    <div class="hidden-sm-down text-uppercase">
      <ul class="navbar-nav">
        <li class="nav-item px-1 ">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item px-1 ">
          <a class="nav-link" href="{{ url_for('calculator') }}">Calculator</a>
        </li>
         <li class="nav-item px-1 ">
          <a class="nav-link" href="{{ url_for('trial') }}">Trial</a>
        </li>
         <li class="nav-item px-1 ">
          <a class="nav-link" href="{{ url_for('dashboard') }}">Dash</a>
        </li>
        <li class="nav-item px-1 ">
          <a class="nav-link" href="{{ url_for('references') }}">References</a>
        </li>
      </ul>
    </div>
    
  </nav>
</div>

  <div class="block-xs-middle pb-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-lg-6">
          <h1 class="block-titleData frequency">Personalized RainWater Solutions</h1>
          <p class="lead mb-4 text-muted">Stop installing unnecessary devices that all track the exact same things. Install one that does everything.</p>
          <button class="btn btn-light btn-lg"><a href="{{ url_for('references') }}">Try it now</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block block-secondary app-iphone-block">
  <div class="container">
    <div class="row app-align-center">

      <div class="col-sm-5 hidden-sm-down">
        <img class="app-iphone" src="{{ url_for('static', filename="images/Rainwater Harvesting.jpg") }}" style="width: 440px; height: 300px">
      </div>

      <div class="col-md-6 offset-md-1 col-sm-12 offset-sm-0">
        <h6 class="text-secondary text-uppercase">Personalized Water Solutions</h6>
        <h3>Make informed decisions with real time data</h3>
        <p class="lead mb-4">We combine immediate real time events with real-time data to help answer the toughest questions about engagement and a seamless user experience</p>
        <div class="row hidden-md-down">
          <div class="col-sm-6 mb-3">
            <h5>Efficient Recommendations</h5>
            <p>We poll for data on a millisecond basis. You can react to new information in seconds rather than minutes. <a href="#" class="text-primary" href="{{ url_for('references') }}">Learn more.</a></p>
          </div>
          <div class="col-sm-6">
            <h5>Next Gen Solutions</h5>
            <p>We process our data across a massively distributed network of reliable servers to ensure 99.99% uptime, always. <a href="{{ url_for('references') }}" class="text-primary">Learn more</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}